.newCity{
  display: block;
  max-width: 590px;
  margin: 100px 50px;
}
.city {
  border: 1px solid rgba(0, 0, 0, 0.133);
}
form {
  display: block;
  margin: 23px;
}
input {
  padding: 7px 120px 7px 20px;
  border: 1px solid rgba(0, 0, 0, 0.311);
  box-shadow: 2px 3px rgba(0, 0, 0, 0.14);
}
.search {
  padding: 7px 30px 7px 20px;
  background: rgb(93, 222, 93);
  border: 3px solid rgb(93, 222, 93);
}
.Kyiv {
  margin: 30px;
  color: rgba(10, 28, 28, 0.377);
}
h1 {
  display: inline-block;
  margin: 10px 200px 20px 30px;
}
.weather {
  display: inline-block;
}
h6 {
  color: rgba(0, 0, 0, 0.514);
}
.open{
  margin-left: 30px;
}
.cels{
  font-size: 18px;
  position: relative;
  top: -30px;
}
.active{
  color: black;
  text-decoration: none;
}
.active:hover{
  cursor: default;
  color: black;
}